<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-app-info" version="0.0.0">
  <name>App Info</name>
  <description>Cordova Plugin Info</description>
  <license>Apache 2.0</license>
  <keywords>cordova, plugin, appInfo</keywords>

  <js-module src="www/appInfo.js" name="appInfo">
    <clobbers target="navigator.appInfo" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AppInfo" >
        <param name="android-package" value="cordova.plugin.app.info"/>
      </feature>
    </config-file>

    <source-file src="src/android/AppInfo.java" target-dir="src/cordova/plugin" />
  </platform>


</plugin>